*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.features{
    background: url('../Images/brush.svg') no-repeat center;
}

.testimonials{
    background: url('../Images/greenshaders.svg') no-repeat center;
}
