* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.circle{
    height: 650px;
    width: 650px;
    border-radius: 50%;
}


/* For Floating Animation */
.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.rotate{
  transform: rotate(270deg);
}

.rotate2{
  transform: rotate(360deg);
}