.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 150vh;
  position: relative;
  background-image: linear-gradient(rgba(19, 19, 19, 0.329), rgba(80, 70, 70, 0.096)), url("../Images/hero-img.jpg");
}

.profile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: linear-gradient(rgba(19, 19, 19, 0.089), rgba(0, 0, 0, 0.055)), url("../Images/darkmodel.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

